@model string
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="bg-info text-white">@Model</h1>
@if (User?.Identity?.IsAuthenticated ?? false) {
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}
@Model
